body {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #14143c;
    font-family: Arial, sans-serif;
}

/* HEADER ------------------------------------------------------*/
header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 1000;
    background-color: #000000;
    color: white;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}
/* HEADER------------------------------------------------------ */

/* MAIN-------------------------------------------------------- */
h1 {
    color: white;
}

.carrousel {
    position: relative;
    width: 80%;
    margin: 20px auto;
}

.carrousel-images {
    display: flex;
    overflow: hidden;
}

button.anterior, button.siguiente {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    padding: 10px;
    cursor: pointer;
    background-color: #142850;
    color: white;
}

button.anterior {
    left: 10px;
}

button.siguiente {
    right: 10px;
}
/* MAIN --------------------------------------------------------*/

footer {
    position: fixed;
    bottom: 0;
    margin-top: auto;
    padding: 10px 0;
    width: 100%;
    z-index: 1000; 
    background-color: #000000;
    color: white;
    text-align: center;
}

/*
z-index: 1000 asegura que el header y el footer se mantengan 
por encima de otros elementos.

position: fixed en el header y footer asegura que se mantendrán 
visibles en la parte superior e inferior de la página, respectivamente.
*/
