body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #14143c;
    font-family: Arial, sans-serif;
}

/* HEADER ------------------------------------------------------*/
header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 1000;
    background-color: #000000;
    color: white;
    font-size: 16px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}
/* HEADER------------------------------------------------------ */

/* MAIN-------------------------------------------------------- */
main {
    margin-top: 70px;
    margin-bottom: 70px;
}

h1, h2 {
    font-size: 24px;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 20PX;
    color: white;
}

.carrousel {
    position: relative;
    width: 100%;
    margin: 0px auto;
}

.carrousel-imagenes {
    display: flex;
    overflow: hidden;
    width: 100%;
    min-height: 500px; /* Altura mínima para pantallas pequeñas */
    max-height: 70vh;  /* Hasta un 70% del viewport en pantallas grandes */
    background-size: contain; /* o cover */
    background-position: center;
    background-repeat: no-repeat;
}

button.anterior, button.siguiente {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    padding: 10px;
    cursor: pointer;
    background-color: #142850;
    color: white;
}

button.anterior {
    left: 10px;
}

button.siguiente {
    right: 10px;
}

/*Pruebas*/
/* Media Queries para pantallas medianas y grandes */
@media (min-width: 1024px) {
    .carrousel-imagenes {
        height: 80vh; /* Mayor altura en pantallas grandes */
    }
}

@media (min-width: 1400px) {
    .carrousel-imagenes {
        height: 90vh; /* Aún mayor altura para pantallas muy grandes */
    }
}

/* Ajustes para pantallas más pequeñas */
@media (max-width: 768px) {
    .carrousel-imagenes {
        height: 40vh; /* Reduce la altura del carrusel en pantallas pequeñas */
    }

    button.anterior, button.siguiente {
        padding: 8px; /* Ajustamos el tamaño de los botones en móviles */
    }
}

@media (max-width: 480px) {
    .carrousel-imagenes {
        height: 35vh; /* Más pequeño aún en dispositivos muy pequeños */
    }
}
/* MAIN --------------------------------------------------------*/


footer {
    position: fixed;
    bottom: 0;
    margin-top: auto;
    padding: 10px 0;
    width: 100%;
    z-index: 1000; 
    background-color: #000000;
    color: white;
    text-align: center;
    font-size: 16px;
}

