body {
    font-family: 'Arial', sans-serif;
    background-color: #14143c;
    margin: 0;
    padding: 0;
    color: white;
}

header {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 20px 0;
}

nav {
    background-color: #142864;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #142850;
}

#carrusel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

#carrusel img {
    max-width: 100%;
    height: auto;
}

button {
    background-color: #142878;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #141450;
}

footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px 0;
}
